
<hr>

<div>
<center>
    EMSE 4575: Exploratory Data Analysis (Spring 2021) | <a href="https://github.com/emse-eda-gwu/2021-Fall"><i class="fab fa-github"></i></a>
    <br>
    <i class="far fa-calendar-alt"></i> Tuesdays |
    <i class="far fa-clock"></i> 12:45 - 3:15 PM |
    <a href="https://www.jhelvy.com"><i class="fas fa-user"></i> Dr. John Paul Helveston</a> |
    <a href="mailto:jph@gwu.edu"><i class="fas fa-envelope"></i> jph@gwu.edu</a>
    <br>
    Content <a href="https://creativecommons.org/licenses/by-sa/2.0/"><i class="fab fa-creative-commons"></i> 2020 </a><a href="https://www.jhelvy.com">John Paul Helveston.</a> See the <a href="LICENSE.html">licensing</a> page for details.
</center>
</div>

<!-- Add function to open links to external links in new tab, from: -->
<!-- https://yihui.name/en/2018/09/target-blank/ -->

<script src="js/external-link.js"></script>
